.logotypes-container {
  overflow: hidden;

  margin-bottom: 60px;
  @include desctop {
    overflow: visible;
    width: 1240px;
  }
}
.logotypes-list {
  transform: translateX(-80px);
  width: 546px;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  @include desctop {
    width: auto;
    transform: translateX(0);
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0;
  }
}
.logotypes-item {
  &:first-child {
    margin-left: 92px;
    @include desctop {
      margin: 0;
    }
  }
  &:last-child {
    margin-right: 92px;
    @include desctop {
      margin: 0;
    }
  }
}
.logotypes-icon {
}
