.nav-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.logo-link {
  width: 144px;
}
.logo-icon {
  width: 144px;
  height: 24px;
}
.nav {
  display: none;
}
.nav-list {
}
.nav-item {
}
.nav-btn {
  display: none;
}

.open-menu-btn {
  border: none;
  background-color: transparent;
}
.open-menu-icon {
}
