.process-container {
}
.process-title {
  margin-bottom: 0;
}

.process-title-biger {
  color: black;
  font-size: 40px;
  font-weight: 500;
  padding-left: 7px;
  padding-right: 7px;
  background: #b9ff66;
  border-radius: 7px;
  margin-bottom: 40px;
}
.process-title-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.process-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.process-item {
  padding: 30px;
  background: #f3f3f3;
  box-shadow: 0px 5px 0px #191a23;
  border-radius: 45px;
  overflow: hidden;
  border: 1px #191a23 solid;
  display: flex;
  align-items: center;
  gap: 33px;
  width: 100%;
}
.process-num {
  font-size: 30px;
  font-weight: 500;
}
.process-list-title {
  font-size: 18px;

  font-weight: 500;
  width: 203px;
}
.process-text {
  display: none;
}
.process-btn {
  width: 30px;
  height: 30px;
  background: #f3f3f3;
  border-radius: 9999px;
  border: 1px #191a23 solid;
  text-align: center;
}
.process-icon {
  margin: 8.25px 8.75px 8.75px 8.25px;
}
