.testiomonials-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desctop {
    justify-content: start;
  }
}
.testimonials-title {
}
.testimonials-title-text {
  @include desctop {
    width: 473px;
    margin-left: 40px;
    text-align: left;
  }
}
.testimonials-wrap {
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background: #191a23;
  border-radius: 45px;
  @include desctop {
    width: 100%;
    padding-top: 84px;
  }
}
.testimonials-list {
  display: flex;
  justify-content: center;
}
.testimonials-item {
  @include desctop {
    width: 606px;
  }
}
.testimonials-text {
  color: white;
  font-size: 16px;
  line-height: calc(24 / 16);
}
.testimonials-list-title {
  color: #b9ff66;
  font-size: 18px;
  font-weight: 600;
  margin-left: 65px;
}
.testimonials-list-subtitle {
  font-size: 16px;
  color: white;
  margin-left: 65px;
}
.testimonials-text-wrap {
  border-radius: 45px;
  border: 2px #b9ff66 solid;
  padding: 30px;
  margin-bottom: 44px;
  @include desctop {
    padding: 48px 52px;
  }
}
.testimonials-nav {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  @include desctop {
    width: 564px;
    margin: 0 auto;
    margin-top: 124px;
  }
}
.testimonials-arrow {
  width: 20px;
  height: 20px;
  fill: white;
}
.testimonials-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
.testimonials-nav-item {
}
.testimonials-nav-icon {
  width: 14px;
  height: 14px;
  fill: white;
  display: block;
}
.current {
  fill: #b9ff66;
}
